@import "globals.scss";

.Page {
    height: 100%;

    .PageHeader {
        width: 100%;
        color: $palette-white;
        background: linear-gradient($palette-grey, $palette-verydarkgrey);
        text-align: left;
        border-bottom: 2px solid $palette-grey;

        h1 {
            width: $page-min-width;
            margin: 0 auto;
            padding: 30px 0 30px 0px;
        }

        // Looks slightly better on small devices so the header isn't touching the left of the screen
        @media (max-width: $page-min-width) {
            padding-left: 20px;
        }
    }

    .PageContent {
        width: $page-pct-width;
        min-width: $page-min-width;
        max-width: $page-max-width;

        margin: -2px auto;
        border: 2px solid $palette-grey;
    }
}
