@import "globals.scss";

.Page {
    .PageHeader {
        width: 100%;
        color: $palette-white;
        background: linear-gradient($palette-grey, $palette-verydarkgrey);
        text-align: left;
        border-bottom: 2px solid $palette-grey;

        h1 {
            width: $page-pct-width;
            min-width: $page-min-width;
            max-width: $page-max-width;

            margin: 0 auto;
            padding: 30px;
        }

    }

    .PageContent {
        width: $page-pct-width;
        min-width: $page-min-width;
        max-width: $page-max-width;

        margin: 0 auto;
        //margin-top: 5px;
        border: 2px solid $palette-grey;
        margin-top: -2px;
    }
}
