website/scripts/bodies/*
website/scripts/heads/*
website/scripts/svgbodies/*
website/scripts/svgheads/*
website/scripts/*.txt
website/scripts/sampleEntries.js
server/secrets.py
server/__pycache__
client/secrets.py
client/__pycache__
