$palette-white: #FFFFFF;
$palette-black: #000000;
$palette-lightblue: lightblue;
$palette-blue: rgb(0, 176, 240);
$palette-red: #9C3A3A;
$palette-darkgrey: #272A33;
$palette-verydarkgrey: #171A23;
$palette-grey: #333743;
$palette-lightgrey: #58595E;
$palette-verylightgrey: #a6abb7;
$palette-gold: #e6cf64;
$palette-silver: silver;
$palette-green: #88ae57;

$page-min-width: 1100px;
$page-max-width: 1200px;
$page-pct-width: 70%;

.flex {
    display: flex;

    & > * {
        flex: 1;
    }
}

.flex1 { flex: 1; }
.flex2 { flex: 2; }
.flex3 { flex: 3; }
.flex4 { flex: 4; }
.flex5 { flex: 5; }

.box {
    background: $palette-grey;
    border: 1px solid $palette-darkgrey;
    margin: 5px;
    padding: 5px;
    text-align: left;
    position: relative;

    ._box_label {
        padding: 5px;
        position: relative;
        max-width: 200px;
        margin: 0;
        margin-top: -5px;
        margin-left: -5px;
        border-bottom: 3px solid $palette-darkgrey;
        border-right: 3px solid $palette-darkgrey;
        font-size: 1.3em;

        //transition: background 0.5s ease;
        //transition: padding-left 0.5s ease;

        transition: background .2s ease-in-out;

        &:hover {
            background: $palette-lightgrey;
        }
    }

    &:hover {
        //padding-left: 10px;
        //border: 1px solid $palette-lightgrey;
    }
}

.react-tabs__tab {
    padding: 30px;
    font-size: 1.4em;
    border: 2px solid #333743;
    border-bottom: 1px;
}

.react-tabs__tab:nth-child(even) {
    border-left: 0;
    border-right: 0;
}

.react-tabs__tab-list {
    text-align: left;
    // border-bottom: 2px solid #333743;
    border-bottom: 0;
    margin-bottom: 0;
}

.react-tabs__tab-panel {
    border: 2px solid #333743;
}
