@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import "globals.scss";

// Useful for debugging
// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html {
    // This addresses the issue that some bits of content require scrolling whilst others dont
    // The scrollbar appearing moves the entire screen a few pixels which looks bad
    // So just always show it
    overflow-y: scroll;
}

body {
    background: $palette-darkgrey;
    font-family: Oswald, sans-serif;
    min-width: $page-min-width;
}

a {
    text-decoration: none;
    color: white;
}

.App {
    width: 100%;
    height: 100%;
    text-align: center;
    color: $palette-white;
    position: relative;
    z-index: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    .MainNavBar {
        flex: 0;
    }

    & > * {
        flex: 1;
    }

    .MainFooter {
        flex: 0;
    }
}
