@import "globals.scss";

.CharacterPortrait {
    position: relative; 
    overflow: hidden;
    background: $palette-lightgrey;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 3px solid $palette-black;

    $portrait-scale: 2.0;
    ._inner {
        position: relative;
        left: -($portrait-scale - 1) * 50%;
        top: -($portrait-scale - 1) * 50%;
        width: 100% * $portrait-scale;
        height: 100% * $portrait-scale;
        //transform: scale(1);
        //transform-origin: 50% 50%;

        ._head {
            position: absolute; 
            left: 0;
            top: 0;
            width: 50%;
            height: 50%;
            z-index: 2;

            &._knight {
                left: (8/32) * 100%;
                top: (5/32) * 100%;
            }
            &._archer {
                left: (8/32) * 100%;
                top: (6/32) * 100%;
            }
            &._builder {
                left: (9/32) * 100%;
                top: (6/32) * 100%;
            }
        }

        ._body {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
}
