.ClassSelectButton {
    padding: 10px 30px;
    background: #333743;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    opacity: 0.4;
    /*border: 1px solid #272A33;*/
}

.ClassSelectButton:nth-child(even) {
    margin: 0 2px;
}

.ClassSelectButton:hover {
    background: #58595E;
    /*border: 1px solid white;*/
}

.ClassSelectButton.selected {
    opacity: 1;
}

.ClassSelectButton img {
    width: 32px;
    flex-basis: 32px;
}

.ClassSelectButton span {
    flex-basis: 60px;
    margin-left: 10px;
}
