.FeaturedPlayers {
  padding: 30px; }
  .FeaturedPlayers ._top {
    display: block; }
    .FeaturedPlayers ._top .FeaturedPlayerBox {
      width: 50%;
      height: 128px;
      margin: 0 auto 30px; }
  .FeaturedPlayers ._bottom {
    display: flex;
    align-items: stretch; }
    .FeaturedPlayers ._bottom .FeaturedPlayerBox {
      flex: 1;
      margin: 0 10px;
      flex-direction: column;
      align-items: stretch; }
      .FeaturedPlayers ._bottom .FeaturedPlayerBox .CharacterPortrait {
        align-self: center;
        width: 48px;
        height: 48px; }
