@import "globals.scss";

.FeaturedPlayers {
    padding: 30px;
    ._top {
        display: block;

        .FeaturedPlayerBox {
            width: 50%;
            height: 128px;
            margin: 0 auto 30px;
        }


        .CharacterPortrait {
            border: 5px solid $palette-gold;
            box-shadow: 0 0 5px $palette-lightgrey;
            border-radius: 50%;	
        }	
    }

    ._bottom {
        display: flex;
        align-items: stretch;
        .FeaturedPlayerBox {
            flex: 1;
            border: 3px solid $palette-grey;
            margin: 0 10px;
            flex-direction: column;
            align-items: stretch;

            ._rank {
                background: $palette-grey;
            }

            .CharacterPortrait {
                align-self: center;
                width: 48px;
                height: 48px;
            }
        }
    }
}
