.FeaturedPlayerBox {
    position: relative;
    padding: 20px;
    display: flex;
    border: 3px solid #333743;
    align-items: center;

    ._rank {
	font-size: 0.8em;
	font-weight: 700;
        position: absolute;
        right: 0;
        background: #333743;
        top: 0;
        padding: 3px 6px 5px 9px;
    }

    .CharacterPortrait {
        height: 128px;
        width: 128px;
    }

    ._info {
        flex: 1;

        p {
            margin: 8px 0;
        }
    }

    .nick {
	font-size: 1.75em;
	font-weight: 700;
    }
}
