@import "globals.scss";

.FeaturedPlayers {
    padding: 40px;

    ._top {
        margin-bottom: 20px;

        .FeaturedPlayerBox {
            width: 50%;
            margin: 0 auto;
            box-shadow: 0 10px 10px 3px transparentize($palette-verydarkgrey, 0.3);
        }

        .CharacterPortrait {
            background: linear-gradient(to bottom, $palette-gold, $palette-darkgold);
            border-color: $palette-gold;
            border-width: 5px;
        }	
    }

    ._bottom {
        display: flex;
        align-items: stretch;

        .FeaturedPlayerBox {
            flex: 1;

            a {
                grid-template-columns: 1fr;
                grid-template-rows: 2fr 1fr 1fr 1fr;

                .CharacterPortrait {
                    width: 48px;
                    height: 48px;
                    background-image: linear-gradient(to bottom, $palette-silver, $palette-lightblue);
                    border-color: $palette-silver;
                    border-width: 3px;
                    grid-column-start: 1;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }

                ._username {
                    grid-column-start: 1;
                    grid-row-start: 2;
                }

                ._rating {
                    grid-column-start: 1;
                    grid-row-start: 3;
                }

                .WinRatio {
                    grid-column-start: 1;
                    grid-row-start: 4;
                }
            }
        }
    }
}
