@import "globals.scss";

.Leaderboard {
    width: 100%;
    margin: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border-radius: 3px;

    table {
        width: 100%;
        background: $palette-grey;

        thead tr {
            background: $palette-darkgrey;

            .rank {
                width: 8%;
            }
            .name {
                width: 25%;
            }
            .winratio {
                width: 40%;
            }
            .rating {
                width: 25%;
            }
        }
    }
}
