@import "globals.scss";

.LeaderboardRow {
    font-size: 0.8em;
    background: $palette-grey;

    .CharacterPortrait {
        width: 32px;
        height: 32px;
    }

    .LeaderboardRow-name {
        font-weight: bold;

        a {
            display: flex;
            align-items: center;
        }

        .CharacterPortrait {
            flex-basis: 32px;
            margin-right: 12px;
            width: 32px;
            height: 32px;
            border: 2.5px solid $palette-darkgrey;
        }

        .span {
            flex: 1;
        }
    }
}

.LeaderboardRow td {
    font-weight: 400;
}
