.Leaderboard {
    width: 100%;
    margin: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border-radius: 3px;
}

.Leaderboard-title {
    background: #333743;
    padding: 10px;
}

.Leaderboard-table {
    width: 100%;
    background: #333743;
    padding: 1px;
}

.Leaderboard-table-header {
    background: #22242c;

}

.Leaderboard-table-header .rank {
    width: 7%;
}
.Leaderboard-table-header .name {
    width: 25%;
}
.Leaderboard-table-header .winratio {
    width: 40%;
}
.Leaderboard-table-header .rating {
    width: 20%;
}
