@import "globals.scss";

.Leaderboard {
    width: 100%;
    border-radius: 3px;

    table {
        width: 100%;
        background: $palette-grey;

        thead tr {
            background: $palette-darkgrey;

            .rank {
                width: 8%;
            }
            .name {
                width: 25%;
            }
            .winratio {
                width: 40%;
            }
            .rating {
                width: 25%;
            }
        }
    }

    ._emptyRowsNotification {
        text-align: center;
        padding: 30px;
        font-size: 1.2em;
        background: $palette-grey;
    }
}
