@import "globals.scss";

.MainNavBar {
    top: 0;
    z-index: 100;
    position: sticky;
    height: 60px;
    width: 100%;
    background: $palette-verydarkgrey;

    a {
        text-decoration: none;
        color: $palette-white;

        &:hover {
            text-decoration: underline;
        }
    }

    ._content {
        width: $page-pct-width;
        min-width: $page-min-width;
        max-width: $page-max-width;

        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & > * {
            flex: 1;
        }

        .AppLogo {
            height: auto; 
            width: 100%;
        }
    }
}
