@import "globals.scss";

.PlayerRatingsBox {
    .RegionSelect {
        margin: 5px 0;

        img {
            display: none;
        }

        .RadioButton {
            padding: 5px;
            background: $palette-darkgrey;
        }
    }

    table {
        width: 100%;

        td {
            background: $palette-darkgrey;
            text-align: center;
        }
    }

    ._winRatios {
        margin-top: 10px;
        padding: 10px;

        & > div {
            display: flex;
            align-items: center;
        }

        .ClassIcon {
            margin-right: 10px;
        }

        .WinRatio {
            text-align: center;
            width: 100%;
            ._text {
                display: none;
            }
        }
    }
}
