@import "globals.scss";

.PlayerWidget {
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;

    & > a {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    // For nested link
    ._clantag {
        position: relative;
        z-index: 2;
    }

    &._flipped {
        text-align: right;

        a {
            flex-direction: row-reverse;
        }

        .CharacterPortrait {
            transform: scaleX(-1);
        }
    }

    .CharacterPortrait {
        min-width: 128px;
        max-width: 128px;
        height: 128px;
        margin: 30px;
        pointer-events: none; // else it blocks the link from being clicked
    }

    .ClassIcon {
        height: 1.3em;
    }

    ._text {
        align-self: center;
        margin: 30px;
        font-size: 1.3em;

        span a {
            display: inline;
        }

        ._clantag {
            margin-right: 10px;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }

        ._nickname {
            color: $palette-lightblue;
        }

        ._title {
            display: grid;
            grid-template-columns: 32px 1fr;
            align-items: center;
            font-style: italic;
        }

        ._coin {
            width: 32px;
            height: auto;
        }

        ._coins {
        }
    }
}
