@import "globals.scss";

.PlayerProfile {
    display: flex;
    ._col1 {
        display: inline-block;
        flex: 7;
    }

    ._col2 {
        display: inline-block;
        flex: 3;
    }

    ._matchHistory {
        margin: 5px;
        border: 1px solid $palette-grey;
    }
}
