.RegionSelectButton {
    padding: 30px;
    background: #333743;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    opacity: 0.4;
    /*border: 1px solid #272A33;*/
}

.RegionSelectButton:nth-child(even) {
    margin: 0 2px;
}

.RegionSelectButton:hover {
    background: #58595E;
    /*border: 1px solid white;*/
}

.RegionSelectButton.selected {
    opacity: 1;
}

.RegionSelectButton img {
    width: 60px;
    flex-basis: 60px;
}

.RegionSelectButton span {
    flex-basis: 60px;
    margin-left: 10px;
}
