.WinRatio {
    display: flex;
    font-weight: 500;
    text-shadow: 1px 1px 2px #222222;
}

.WinRatio-bar {
    border-radius: 12px;
    flex: 2;
    display: flex;
    overflow: hidden;
}

.WinRatio-bar div {
    flex: 1;
    min-width: 10%;
    flex-basis: auto;
}

.WinRatio-bar .winsPart {
    background: #88ae57;
}

.WinRatio-bar .lossesPart {
    background: #720a36;
}

.WinRatio-text {
    flex: 1;
}
